*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.clearfix:after,
div:after,
header:after,
footer:after,
section:after,
article:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
address {
  font-style: normal;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure {
  margin: 0;
}
.to-left {
  float: left;
}
.to-right {
  float: right;
}
.container {
  position: relative;
  width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-align: center;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #000000;
  background: #ffffff;
  overflow-y: scroll;
}
.btn,
.btn.goods-single-buy.to-cart {
  display: block;
  padding: 11px 0;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  border: 1px solid #ee465a;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background: #ee465a;
  color: #ffffff;
}
.btn:hover,
.btn.goods-single-buy.to-cart:hover {
  background: transparent;
  color: #ee465a;
}
.btn-blue {
  border-color: #17c6f0;
  background: #17c6f0;
}
.btn-blue:hover {
  color: #17c6f0;
}
.grey-bg {
  background: #f6f6f6;
}
.content-wrapper {
  padding: 20px 0 45px;
}
.content {
  border-right: 3px;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
}
.content h1,
.content h2,
.content h3 {
  margin: 20px 0 25px;
}
.content h1 {
  font-size: 20px;
}
.content h2 {
  font-size: 16px;
}
.content .page-title {
  margin: 0 0 10px;
  padding: 0 0 10px;
  border-bottom: 1px solid #c3c3c3;
}
.content-page {
  padding: 25px;
  background: #ffffff;
}
.content-page p {
  margin: 20px 0;
}
.text-page ul {
  margin: 20px 0;
  padding: 0;
  list-style: none;
}
.text-page ul li {
  padding: 5px 0;
  font-size: 14px;
  color: #333333;
}
.text-page ul li:before {
  content: '●';
  color: #17c6f0;
  margin-right: 10px;
}
.text-page ul li:first-child {
  padding-top: 0;
}
.text-page ul li:last-child {
  padding-bottom: 0;
}
.content-page,
.sidebar-block {
  border: 1px solid #c3c3c3;
  border-top: 3px solid #17c6f0;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.sidebar .sidebar-block {
  margin-bottom: 15px;
  padding: 15px;
  float: none;
  background: #ffffff;
}
.sidebar .sidebar-block h4 {
  margin: 0 0 10px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  color: #4d4d4d;
}
.sidebar .sidebar-block:last-child {
  margin-bottom: 0;
}
input[type=text],
input[type=email],
input[type=submit],
textarea,
select {
  outline: none;
}
input[type=checkbox] {
  display: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  visibility: hidden;
  text-indent: 0.01px;
  text-overflow: '';
}
@-moz-document url-prefix() {
  input[type=checkbox] {
    margin-bottom: -13px;
  }
}
input[type=checkbox] + label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  cursor: pointer;
}
input[type=checkbox] + label:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -2px;
  width: 15px;
  height: 15px;
  background: #fff;
  border: 1px solid #c3c3c3;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
input[type=checkbox]:checked + label {
  color: #17c6f0;
}
input[type=checkbox]:checked + label:before {
  background: #17c6f0;
  border-color: #0eb7df;
}
select {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #c3c3c3;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  cursor: pointer;
  background: url('../../img/prod/icon-arrow-grey.png') no-repeat right 5px center;
}
input[type=reset] {
  width: 100%;
  text-align: center;
  background: transparent;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: underline;
  color: #0da3c7;
}
input[type=reset]:hover {
  text-decoration: none;
}
.pagination {
  margin: 15px 0 30px;
}
.pagination ul li {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}
.pagination ul li a,
.pagination ul li span {
  display: block;
  padding: 10px 18px;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  background: #ffffff;
  color: #000000;
  text-decoration: none;
  border: 1px solid #c3c3c3;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.pagination ul li a:hover,
.pagination ul li a.current {
  background: #c3c3c3;
}
.pagination ul li .current {
  background: #ee465a;
  border-color: #ee465a;
  color: #ffffff;
}
.pagination ul li:last-child {
  margin-right: 0;
}
.top-panel {
  padding: 20px 0 15px;
}
.top-panel-menu ul li {
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
}
.top-panel-menu ul li a {
  display: block;
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid #c3c3c3;
}
.top-panel-menu ul li a:hover {
  border-bottom: none;
}
.top-panel-menu ul li:last-child {
  margin-right: -4px;
}
header.gl {
  padding: 25px 0 10px;
}
header.gl .logo {
  display: block;
  width: 245px;
  height: 75px;
  background: url('../../img/prod/logo-bg.png') no-repeat top left;
}
.info-blocks {
  padding: 5px 0;
}
.info-blocks .header-info-block {
  padding: 2px 25px 5px;
  display: inline-block;
  vertical-align: top;
  border-right: 1px solid #c3c3c3;
}
.info-blocks .header-info-block a {
  text-decoration: none;
  color: #1a1a1a;
}
.info-blocks .header-info-block:last-child {
  border-right: none;
}
.info-blocks .info-block-title {
  margin: 0 0 5px;
  font-size: 14px;
  font-weight: lighter;
  line-height: 14px;
}
.info-blocks .info-block-text {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 20px;
}
.info-blocks .info-block-text img {
  margin-right: 5px;
}
.cart-wrapper {
  display: block;
  width: 200px;
  height: 60px;
  border: 1px solid #ee465a;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.cart-wrapper .cart-img {
  display: block;
  width: 70px;
  height: 100%;
  background: url('../../img/prod/icon-cart-white.png') no-repeat center center #ee465a;
}
.cart-wrapper .cart {
  width: 128px;
  height: 100%;
  padding: 12px 10px 10px;
  font-size: 14px;
}
.cart-wrapper .cart-name,
.cart-wrapper .cart-num {
  display: block;
}
.cart-wrapper .cart-name {
  font-size: 15px;
  font-weight: 500;
  color: #000000;
}
.cart-wrapper .cart-num {
  color: #909090;
}
.header-bottom-panel {
  padding: 15px 0 20px;
}
.bottom-panel-menu a {
  display: inline-block;
  vertical-align: top;
  padding: 0 15px 0 37px;
  height: 42px;
  line-height: 38px;
  font-size: 17px;
  font-weight: 500;
  color: #4d4d4d;
  text-decoration: none;
  border: 1px solid #dddddd;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
.bottom-panel-menu .catalog-link {
  background: url('../../img/prod/icon-catalog-red.png') no-repeat left 15px center;
}
.bottom-panel-menu .catalog-link:hover {
  background: url('../../img/prod/icon-catalog-red.png') no-repeat left 15px center #f6f6f6;
}
.bottom-panel-menu .designers-link {
  background: url('../../img/prod/icon-heart-red.png') no-repeat left 15px center;
}
.bottom-panel-menu .designers-link:hover {
  background: url('../../img/prod/icon-heart-red.png') no-repeat left 15px center #f6f6f6;
}
.search-panel {
  width: 920px;
  height: 42px;
  border: 1px solid #dddddd;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
.search-panel input {
  float: left;
  height: 40px;
  outline: none;
}
.search-panel input[type=text] {
  width: 870px;
  padding: 0 16px;
  line-height: 38px;
  font-size: 17px;
  color: #6a6a6a;
  border: none;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
.search-panel input[type=submit] {
  width: 46px;
  background: url('../../img/prod/icon-search-grey.png') no-repeat center center #ffffff;
  border: none;
  border-left: 1px solid #dddddd;
}
.distribute {
  padding: 25px 0;
}
.distribute h3 {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
.distribute .factories-list {
  margin-top: 20px;
  text-align: center;
}
.distribute .factories-list a img {
  margin-right: 22px;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  /* Firefox 3.5+ */
  filter: gray;
  -webkit-filter: grayscale(100%);
}
.distribute .factories-list a:hover img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
}
.distribute .factories-list a:last-child img {
  margin-right: 0;
}
.distribute-bottom {
  padding: 55px 0 0;
}
.top-index-block {
  padding: 15px 0;
}
.top-index-block .action-block {
  width: 925px;
  text-align: center;
}
.top-index-block .action-block .actions-list {
  height: 280px;
  margin-bottom: 15px;
}
.top-index-block .action-block .big-action {
  float: left;
  width: 570px;
  height: 280px;
}
.top-index-block .action-block .two-actions {
  float: left;
  width: 355px;
}
.top-index-block .action-block .small-action {
  display: block;
  height: 140px;
}
.top-index-block .action-block .big-action img,
.top-index-block .action-block .small-action img {
  width: 100%;
  height: 100%;
}
.top-index-block .actions-reload {
  padding-left: 30px;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  vertical-align: middle;
  background: url('../../img/prod/icon-reload-black.png') no-repeat left 10px center;
}
.catalog-menu {
  width: 255px;
  padding: 15px 20px;
  border: 1px solid #c3c3c3;
  border-top: 3px solid #17c6f0;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.catalog-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.catalog-menu ul li a {
  padding: 5px 0;
  display: block;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
  color: #000000;
}
.catalog-menu ul li ul li {
  background: url('../../img/prod/icon-cat-arrow-grey.png') no-repeat left 10px center;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.catalog-menu ul li ul li a {
  padding: 7px 10px 7px 25px;
  color: #777777;
}
.catalog-menu ul li ul li:hover,
.catalog-menu ul li ul li.current-item {
  background: url('../../img/prod/icon-cat-arrow-grey.png') no-repeat left 10px center #f6f6f6;
}
.catalog-menu > ul > li > a:hover {
  color: #ee465a;
}
.advantages-block {
  padding: 10px 0 15px;
}
.advantages-list {
  width: 100%;
  display: table;
  padding: 10px 0;
  border: 1px solid #c3c3c3;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.advantages-list .advantage-single {
  display: table-cell;
  vertical-align: middle;
  padding: 5px 20px;
  text-align: center;
  border-right: 1px solid #c3c3c3;
}
.advantages-list .advantage-single:last-child {
  border: none;
}
.advantages-list .img-wrapper,
.advantages-list .advantage-single-content {
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
}
.advantages-list .img-wrapper {
  width: 60px;
}
.advantages-list .advantage-single-content {
  padding-left: 5px;
  text-align: left;
}
.advantages-list .advantage-single-content b {
  font-size: 15px;
  font-weight: 700;
}
.advantages-list .advantage-single-content p {
  margin: 0;
  font-size: 14px;
  color: #505050;
}
.goods-block .goods-part-block {
  padding: 20px 0;
}
.goods-block .goods-part-block h2 {
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
}
.goods-block .goods-part-category {
  margin: 0 0 0 10px;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
  list-style: none;
}
.goods-block .goods-part-category li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 6px;
}
.goods-block .goods-part-category li a {
  display: block;
  font-size: 15px;
  text-decoration: none;
  color: #666666;
  border-bottom: 1px dotted #666666;
}
.goods-block .goods-part-category li a:hover {
  border-color: transparent;
}
.page-bottom-text {
  padding: 55px 0;
}
.page-bottom-text p {
  margin: 0;
  font-size: 14px;
}
footer.gl {
  padding: 25px 0;
  border-top: 3px solid rgba(10, 124, 151, 0.1);
}
footer.gl .footer-contacts,
footer.gl .footer-block {
  padding-top: 5px;
  padding-bottom: 5px;
  border-right: 1px solid #c3c3c3;
}
footer.gl .footer-block {
  padding-left: 40px;
  padding-right: 40px;
}
footer.gl .footer-block-title {
  display: block;
  margin: 0 0 15px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #4d4d4d;
}
footer.gl .footer-block:nth-last-of-type(2) {
  border-right: none;
  padding-right: 0;
}
footer.gl nav li {
  padding: 2px 0;
}
footer.gl nav li a {
  color: #17c6f0;
  text-decoration: none;
}
footer.gl nav li a:hover {
  color: #ee465a;
}
.category-tabs ul li {
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
}
.category-tabs ul li a {
  display: block;
  padding: 15px 20px;
  font-size: 17px;
  font-weight: 700;
  border-top: 3px solid transparent;
  color: #ee465a;
}
.category-tabs ul li a:hover {
  text-decoration: none;
}
.category-tabs ul li.current a {
  border-color: #17c6f0;
  background: #f6f6f6;
  color: #4d4d4d;
  text-decoration: none;
}
.category-tabs-menu {
  padding: 20px 0 0;
}
.category-tabs-menu ul {
  padding-left: 10px;
}
.category-tabs-menu ul li {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
}
.category-tabs-menu ul li a {
  color: #0da3c7;
  text-decoration: none;
  border-bottom: 1px dotted #17c6f0;
}
.category-tabs-menu ul li a:hover {
  border-bottom: none;
}
.category-tabs-menu ul li:last-child {
  margin-right: -4px;
}
.content-wrapper .page-bottom-text {
  padding-bottom: 0;
}
.sidebar .catalog-menu {
  width: 260px;
}
.sidebar .catalog-menu ul li a {
  padding: 3px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.sidebar .catalog-menu ul li a:hover {
  background: #f6f6f6;
  color: #000000;
}
.sidebar-block.sidebar-filter h4 {
  margin-bottom: 15px;
}
.sidebar-block.sidebar-filter h5 {
  margin: 0 0 10px;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
}
.sidebar-block.sidebar-filter .filter-block {
  padding: 15px 0;
  border-top: 1px solid #c3c3c3;
}
.sidebar-block.sidebar-filter input[type=submit] {
  margin-top: 5px;
  width: 100%;
}
.sidebar-block.sidebar-filter input[type=reset] {
  margin-top: 15px;
}
.filter-sizes input[type=checkbox] + label {
  display: inline-block;
  width: 70px;
  margin: 0 5px 8px 0;
  padding: 6px 8px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  vertical-align: top;
  border: 1px solid #c3c3c3;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.filter-sizes input[type=checkbox] + label:nth-of-type(3n) {
  margin-right: -4px;
}
.filter-sizes input[type=checkbox] + label:before {
  content: none;
  display: none;
}
.filter-sizes input[type=checkbox]:checked + label {
  background: #17c6f0;
  color: #ffffff;
  border-color: #17c6f0;
}
.catalog-page {
  border-bottom: none;
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
}
.filter-sort {
  padding: 10px 0;
  font-size: 14px;
  text-align: right;
  background: #f6f6f6;
}
.filter-sort ul {
  display: inline-block;
  margin: 0 0 0 10px;
  vertical-align: top;
}
.filter-sort ul li {
  display: inline-block;
  margin-right: 10px;
  padding: 0;
  font-size: 11px;
  vertical-align: top;
}
.filter-sort ul li a {
  color: #000000;
  text-decoration: none;
}
.filter-sort ul li a:hover {
  color: #0eb7df;
}
.filter-sort ul li:before {
  content: none;
}
.filter-sort ul li:last-child {
  margin-right: 0;
}
.filter-sort ul li.filter-sort-current a {
  color: #0eb7df;
}
.filter-sort ul li.filter-sort-up:after,
.filter-sort ul li.filter-sort-bottom:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  border-style: solid;
  vertical-align: 2px;
}
.filter-sort ul li.filter-sort-up:after {
  border-width: 4px 4px 0 4px;
  border-color: #0eb7df transparent transparent transparent;
}
.filter-sort ul li.filter-sort-bottom:after {
  border-width: 0 4.px 4px 4px;
  border-color: transparent transparent #0eb7df transparent;
}
.goods-list {
  margin-top: 20px;
  margin-bottom: -20px;
}
.goods-list .goods-single:nth-of-type(4n),
.goods-list .goods-single:last-of-type {
  margin-right: 0;
}
.goods-single {
  float: left;
  width: 285px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #c3c3c3;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.goods-single .goods-single-img {
  display: block;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.goods-single .goods-single-img img {
  height: 100%;
  width: auto;
  -webkit-border-top-left-radius: 3px;
          border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
          border-top-right-radius: 3px;
}
.goods-single .goods-single-content {
  padding: 25px 15px 35px;
  background: #ffffff;
  -webkit-border-bottom-left-radius: 3px;
          border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
          border-bottom-right-radius: 3px;
}
.goods-single .goods-single-marking,
.goods-single .goods-single-availability,
.goods-single .goods-single-cat-link {
  display: block;
}
.goods-single .goods-single-cat-link,
.goods-single .goods-single-cat-link a {
  font-size: 11px;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d4d4d;
}
.goods-single .goods-single-title {
  margin: 15px 0;
  text-align: left;
  font-size: 16px;
}
.goods-single .goods-single-title a {
  color: #000000;
  text-decoration: none;
}
.goods-single .goods-single-title a:hover {
  color: #ee465a;
}
.goods-single .goods-single-marking,
.goods-single .goods-single-availability {
  padding-left: 25px;
  font-size: 13px;
}
.goods-single .goods-single-marking {
  background: url('../../img/prod/icon-art-grey.png') no-repeat left center;
  color: #a6a6a6;
}
.goods-single .goods-single-availability {
  margin-top: 5px;
}
.goods-single .goods-single-availability.goods-single-exist {
  background: url('../../img/prod/icon-good-green.png') no-repeat left center;
  color: #1a9d10;
}
.goods-single .goods-single-availability.goods-single-not-exist {
  background: url('../../img/prod/icon-bad-red.png') no-repeat left center;
  color: #ee465a;
}
.goods-single .goods-single-bar {
  margin-top: 20px;
}
.goods-single .goods-single-price,
.goods-single .goods-single-buy {
  width: 120px;
}
.goods-single .goods-single-price {
  padding: 11px 0;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  border: 1px solid #aaaaaa;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.goods-more {
  height: 40px;
  margin: 5px 0 0;
  position: relative;
  text-align: center;
}
.goods-more .goods-more-line {
  position: absolute;
  height: 1px;
  width: 100%;
  top: 50%;
  margin-top: -0.5px;
  background: #d9d9d9;
}
.goods-more .btn-more-wrapper {
  position: relative;
  width: 245px;
  margin: 0 auto;
  background: #f6f6f6;
  z-index: 1;
}
.goods-more .btn {
  vertical-align: middle;
  width: 225px;
  margin: 0 auto;
}
.goods-list.catalog-goods-list {
  background: #ffffff;
  margin: 0;
  border: 1px solid #c3c3c3;
  border-top: none;
  -webkit-border-bottom-left-radius: 3px;
          border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
          border-bottom-right-radius: 3px;
}
.goods-list.catalog-goods-list .goods-single:nth-of-type(4n) {
  margin-right: 20px;
}
.goods-list.catalog-goods-list .goods-single:nth-of-type(3n),
.goods-list.catalog-goods-list .goods-single:last-of-type {
  margin-right: 0;
}
.goods-list.catalog-goods-list .goods-single {
  margin-right: 0 !important;
  padding: 25px;
  border: none;
  border-bottom: 1px solid #c3c3c3;
  -webkit-border-radius: 0;
          border-radius: 0;
  position: relative;
}
.goods-list.catalog-goods-list .goods-single .goods-single-content {
  padding: 25px 0 0;
}
.goods-list.catalog-goods-list .goods-single .catalog-goods-single-info {
  padding: 15px 0 0;
}
.goods-list.catalog-goods-list .goods-single .catalog-goods-single-char {
  display: block;
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid #c3c3c3;
}
.goods-list.catalog-goods-list .goods-single .catalog-goods-single-char dt,
.goods-list.catalog-goods-list .goods-single .catalog-goods-single-char dd {
  font-size: 12px;
  line-height: 1;
}
.goods-list.catalog-goods-list .goods-single .catalog-goods-single-char dt {
  width: 57%;
  float: left;
}
.goods-list.catalog-goods-list .goods-single .catalog-goods-single-char dd {
  width: 25%;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
}
.goods-list.catalog-goods-list .goods-single .catalog-goods-single-char:last-of-type {
  margin-bottom: 15px;
}
.goods-list.catalog-goods-list .goods-single .goods-single-availability,
.goods-list.catalog-goods-list .goods-single .goods-single-marking {
  margin-top: 10px;
}
.woocommerce-ordering {
  display: inline-block;
}
.woocommerce-ordering .orderby {
  min-width: 210px;
  width: auto;
  margin-left: 14px;
  font-size: 14px;
}
.widget_product_categories,
.widget_layered_nav,
.widget_layered_nav_filters {
  width: 255px;
  padding: 15px 20px;
  border: 1px solid #c3c3c3;
  border-top: 3px solid #17c6f0;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.widget_product_categories ul,
.widget_layered_nav ul,
.widget_layered_nav_filters ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.widget_product_categories ul li a,
.widget_layered_nav ul li a,
.widget_layered_nav_filters ul li a {
  padding: 5px 0;
  display: block;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
  color: #000000;
}
.widget_product_categories ul li ul li,
.widget_layered_nav ul li ul li,
.widget_layered_nav_filters ul li ul li {
  background: url('../../img/prod/icon-cat-arrow-grey.png') no-repeat left 10px center;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.widget_product_categories ul li ul li a,
.widget_layered_nav ul li ul li a,
.widget_layered_nav_filters ul li ul li a {
  padding: 7px 10px 7px 25px;
  color: #777777;
}
.widget_product_categories ul li ul li:hover,
.widget_layered_nav ul li ul li:hover,
.widget_layered_nav_filters ul li ul li:hover,
.widget_product_categories ul li ul li.current-item,
.widget_layered_nav ul li ul li.current-item,
.widget_layered_nav_filters ul li ul li.current-item {
  background: url('../../img/prod/icon-cat-arrow-grey.png') no-repeat left 10px center #f6f6f6;
}
.widget_product_categories > ul > li > a:hover,
.widget_layered_nav > ul > li > a:hover,
.widget_layered_nav_filters > ul > li > a:hover {
  color: #ee465a;
}
.widget_product_categories .count,
.widget_layered_nav .count,
.widget_layered_nav_filters .count {
  display: none;
}
.widget_layered_nav ul li a,
.widget_layered_nav_filters ul li a {
  font-size: 14px;
  font-weight: 400;
}
.widget_layered_nav ul li a:hover {
  color: #17c6f0;
}
.widget_layered_nav ul li a:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
  top: 3px;
  margin-right: 10px;
  border: 1px solid #0eb7df;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.widget_layered_nav ul li.chosen a {
  color: #17c6f0;
}
.widget_layered_nav ul li.chosen a:before {
  background: #17c6f0;
}
.widget_layered_nav_filters ul li a:before {
  content: "\00d7";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.woocommerce-breadcrumb,
.breadcrumbs {
  padding: 0 0 20px;
  font-size: 14px;
}
.woocommerce-breadcrumb a,
.breadcrumbs a {
  color: #ee465a;
  text-decoration: none;
}
.woocommerce-breadcrumb a:hover,
.breadcrumbs a:hover {
  color: #17c6f0;
}
.woocommerce table.shop_table.maxitile_shop_table {
  border: none;
}
.woocommerce table.shop_table.maxitile_shop_table a.remove {
  color: #ee465a !important;
}
.woocommerce table.shop_table.maxitile_shop_table a.remove:hover {
  background: #ee465a;
  color: #ffffff !important;
}
.woocommerce table.shop_table.maxitile_shop_table .product-name a {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
.woocommerce table.shop_table.maxitile_shop_table .product-name a:hover {
  color: #ee465a;
}
.goods-single .added_to_cart {
  display: none !important;
}
.woocommerce .woocommerce-message.woocommerce-message {
  background: #f6f6f6;
  color: #000000;
  border-top-color: #1a9d10;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.woocommerce .woocommerce-message.woocommerce-message:before {
  color: #1a9d10;
}
.woocommerce .woocommerce-message.woocommerce-message a {
  color: #ee465a;
  text-decoration: none;
}
/* Adaptive */
@media screen and (min-width: 1230px) {
  .container {
    width: 1230px;
  }
  footer.gl .footer-contacts {
    width: 315px;
    padding-right: 30px;
  }
  .content {
    width: 925px;
  }
  .sidebar {
    width: 260px;
  }
  .sidebar.rightbar {
    float: right;
  }
  .catalog-goods-list .goods-single {
    width: 33.333333333333%;
  }
}
