/* Adaptive */

// @media screen and (max-width: 767px) {

//   .container {
//     width: 100%;
//   }
//   .to-left,
//   .to-right {
//     float: none;
//   }
//   img {
//     max-width: 100%;
//   }
// }
// @media screen and (min-width: 768px) {

//   .container {
//     width: 750px;
//   }
// }
// @media screen and (min-width: 992px) {

//   .container {
//     width: 970px;
//   }
// }
@media screen and (min-width: 1230px) {

  .container {
    width: 1230px;
  }
  // footer
  footer.gl {

    .footer-contacts {
      width: 315px;
      padding-right: 30px;
    }
  }
  // content and sidebars
  .content {

    width: 925px;    
  }
  .sidebar {
    width: 260px;
  }
  .sidebar.rightbar {
    float: right;
  }
  .catalog-goods-list {

    .goods-single {
      width: 33.333333333333%;
    }
  }
}