@white: #fff;
@grey: #f6f6f6;
@darkgrey: darken(@grey, 20%);
@red: #ee465a;
@blue: #17c6f0;
@green: #1a9d10;
@black: #000;

*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after,
div:after,
header:after,
footer:after,
section:after,
article:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
address {
  font-style: normal;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure {
  margin: 0;
}
.to-left {
  float: left;
}
.to-right {
  float: right;
}
.container {
  position: relative;
  width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  text-align: center;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: @black;
  background: @white;
  overflow-y: scroll;
}
.btn,
.btn.goods-single-buy.to-cart {
  display: block;
  padding: 11px 0;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  border: 1px solid @red;
  border-radius: 3px;
  background: @red;
  color: @white;
}
.btn:hover,
.btn.goods-single-buy.to-cart:hover {
  background: transparent;
  color: @red;
}
.btn-blue {
  border-color: @blue;
  background: @blue;
}
.btn-blue:hover {
  color: @blue;
}
.grey-bg {
  background: @grey;
}

// content and sidebars
.content-wrapper {
  padding: 20px 0 45px;
}
.content {
  border-right: 3px;
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
  }
  h1, h2, h3 {
    margin: 20px 0 25px;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 16px;
  }
  .page-title {
    margin: 0 0 10px;
    padding: 0 0 10px;
    border-bottom: 1px solid @darkgrey;
  }
}
.content-page {
  padding: 25px;
  background: @white;

  p {
    margin: 20px 0;
  }
}
.text-page {
  ul {
    margin: 20px 0;
    padding: 0;
    list-style: none;

    li {
      padding: 5px 0;
      font-size: 14px;
      color: lighten(@black, 20%);
    }
    li:before {
      content: '●';
      color: @blue;
      margin-right: 10px;
    }
    li:first-child {
      padding-top: 0;
    }
    li:last-child {
      padding-bottom: 0;
    }
  }
}
.content-page,
.sidebar-block {
  border: 1px solid @darkgrey;
  border-top: 3px solid @blue;
  border-radius: 3px;
}
.sidebar {

  .sidebar-block {
    margin-bottom: 15px;
    padding: 15px;
    float: none;
    background: @white;

    h4 {
      margin: 0 0 10px;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: left;
      color: lighten(@black, 30%);
    }
  }
  .sidebar-block:last-child {
    margin-bottom: 0;
  }
}
// inputs
input[type=text],
input[type=email],
input[type=submit],
textarea,
select {
  outline: none;
}
// checkbox, radio
input[type=checkbox] {
  display: none;
  appearance: none;
  visibility: hidden;
  text-indent: 0.01px;
  text-overflow: '';
}
@-moz-document url-prefix() {

  input[type=checkbox] {
    margin-bottom: -13px;
  }
}
input[type=checkbox] + label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  cursor: pointer;
}
input[type=checkbox] + label:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -2px;
  width: 15px;
  height: 15px;
  background: #fff;
  border: 1px solid @darkgrey;
  border-radius: 3px;
}
input[type=checkbox]:checked + label {
  color: @blue;
}
input[type=checkbox]:checked + label:before {
  background: @blue;
  border-color: darken(@blue, 5%);
}
// select
select {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  border: 1px solid @darkgrey;
  border-radius: 3px;
  appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  cursor: pointer;
  background: url('../../img/prod/icon-arrow-grey.png') no-repeat right 5px center;
}
// reset
input[type=reset] {
  width: 100%;
  text-align: center;
  background: transparent;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: underline;
  color: darken(@blue, 10%);
}
input[type=reset]:hover {
  text-decoration: none;
}
// pagination
.pagination {
  margin: 15px 0 30px;

  ul {

    li {
      display: inline-block;
      vertical-align: top;
      margin-right: 5px;

      a, span {
        display: block;
        padding: 10px 18px;
        font-size: 17px;
        font-weight: 700;
        text-align: center;
        background: @white;
        color: @black;
        text-decoration: none;
        border: 1px solid @darkgrey;
        border-radius: 3px;
      }
      a:hover,
      a.current {
        background: @darkgrey;
      }
      .current {
        background: @red;
        border-color: @red;
        color: @white;
      }
    }
    li:last-child {
      margin-right: 0;
    }
  }
}