.goods-list {
  margin-top: 20px;
  margin-bottom: -20px;

  .goods-single:nth-of-type(4n),
  .goods-single:last-of-type {
    margin-right: 0;
  }
}
.goods-single {
  float: left;
  width: 285px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid @darkgrey;
  border-radius: 3px;

  .goods-single-img {
    display: block;
    width: 100%;
    height: 200px;
    overflow: hidden;

    img {
      height: 100%;
      width: auto;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
  }
  .goods-single-content {
    padding: 25px 15px 35px;
    background: @white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .goods-single-marking,
  .goods-single-availability,
  .goods-single-cat-link {
    display: block;
  }
  .goods-single-cat-link,
  .goods-single-cat-link a {
    font-size: 11px;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
    color: lighten(@black, 30%);
  }
  .goods-single-title {
    margin: 15px 0;
    text-align: left;
    font-size: 16px;

    a {
      color: @black;
      text-decoration: none;
    }
    a:hover {
      color: @red;
    }
  }
  .goods-single-marking,
  .goods-single-availability {
    padding-left: 25px;
    font-size: 13px;
  }
  .goods-single-marking {
    background: url('../../img/prod/icon-art-grey.png') no-repeat left center;
    color: lighten(@black, 65%);
  }
  .goods-single-availability {
    margin-top: 5px;
  }
  .goods-single-availability.goods-single-exist {
    background: url('../../img/prod/icon-good-green.png') no-repeat left center;
    color: @green;
  }
  .goods-single-availability.goods-single-not-exist {
    background: url('../../img/prod/icon-bad-red.png') no-repeat left center;
    color: @red;
  }
  .goods-single-bar {
    margin-top: 20px;
  }
  .goods-single-price,
  .goods-single-buy {
    width: 120px;
  }
  .goods-single-price {
    padding: 11px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    border: 1px solid darken(@grey, 30%);
    border-radius: 3px;
  }
}
.goods-more {
  height: 40px;
  margin: 5px 0 0;
  position: relative;
  text-align: center;
  
  .goods-more-line {
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    margin-top: -0.5px;
    background: lighten(@black, 85%);
  }
  .btn-more-wrapper {
    position: relative;
    width: 245px;
    margin: 0 auto;
    background: @grey;
    z-index: 1;
  }
  .btn {
    vertical-align: middle;
    width: 225px;
    margin: 0 auto;
    
  }
}
.goods-list.catalog-goods-list {
  background: @white;
  margin: 0;
  border: 1px solid @darkgrey;
  border-top: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  .goods-single:nth-of-type(4n) {
    margin-right: 20px;
  }
  .goods-single:nth-of-type(3n),
  .goods-single:last-of-type {
    margin-right: 0;
  }

  .goods-single {
    margin-right: 0 !important;
    padding: 25px;
    border: none;
    border-bottom: 1px solid @darkgrey;
    border-radius: 0;
    position: relative;

    .goods-single-content {
      padding: 25px 0 0;
    }
    .catalog-goods-single-info {
      //display: none;
      padding: 15px 0 0;
    }
    .catalog-goods-single-char {
      display: block;
      margin: 0;
      padding: 10px 0;
      border-bottom: 1px solid @darkgrey;

      dt, dd {
        font-size: 12px;
        line-height: 1;
      }
      dt {
        width: 57%;
        float: left;
      }
      dd {
        width: 25%;
        float: left;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .catalog-goods-single-char:last-of-type {
      margin-bottom: 15px;
    }
    .goods-single-availability,
    .goods-single-marking {
      margin-top: 10px;
    }
  }
  // .goods-single:hover {
  //   box-shadow: 0 0 7px 1px fade(@black, 50%);

  //   .catalog-goods-single-info {
  //     display: block;
  //     width: 100%;
  //     padding: 0 25px;
  //     position: absolute;
  //     left: 0;
  //     background: @white;
  //     z-index: 10;
  //     box-shadow: 0 5px 5px 1px fade(@black, 50%);
  //   }
  // }
}