// Catalog
.woocommerce-ordering {
	display: inline-block;

	.orderby {
		min-width: 210px;
		width: auto;
		margin-left: 14px;
		font-size: 14px;
	}
}
.widget_product_categories,
.widget_layered_nav,
.widget_layered_nav_filters {
  width: 255px;
  padding: 15px 20px;
  border: 1px solid @darkgrey;
  border-top: 3px solid @blue;
  border-radius: 3px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {

      a {
        padding: 5px 0;
        display: block;
        font-size: 15px;
        font-weight: 300;
        text-decoration: none;
        color: @black;
      }

      ul {

        li {
          background: url('../../img/prod/icon-cat-arrow-grey.png') no-repeat left 10px center;
          border-radius: 3px;

          a {
            padding: 7px 10px 7px 25px;
            color: darken(@grey, 50%);
          }
        }
        li:hover,
        li.current-item {
          background: url('../../img/prod/icon-cat-arrow-grey.png') no-repeat left 10px center @grey;
        }
      }
    }
  }
  & > ul > li > a:hover {
    color: @red;
  }
  .count {
  	display: none;
  }
}
.widget_layered_nav,
.widget_layered_nav_filters {

	ul {

		li {

			a {
				font-size: 14px;
				font-weight: 400;
			}
		}
	}
}
.widget_layered_nav {

	ul {

		li {

			a:hover {
				color: @blue;
			}
			a:before {
				content: '';
				display: inline-block;
				width: 15px;
				height: 15px;
				position: relative;
				top: 3px;
				margin-right: 10px;
  				border: 1px solid darken(@blue, 5%);
				border-radius: 3px;
			}
		}
		li.chosen {
			
			a {
				color: @blue;
			}
			a:before {
				background: @blue;
			}
		}
	}
}
.widget_layered_nav_filters {

	ul {

		li {
			
			a:before {
				content: "\00d7";
				display: inline-block;
				width: 15px;
				height: 15px;
				margin-right: 5px;
			}
		}
	}
}
.woocommerce-breadcrumb,
.breadcrumbs {
	padding: 0 0 20px;
	font-size: 14px;

	a {
		color: @red;
		text-decoration: none;
	}
	a:hover {
		color: @blue;
	}
}

// Cart
.woocommerce table.shop_table.maxitile_shop_table {
	border: none;

	a.remove {
		color: @red !important;
	}
	a.remove:hover {
		background: @red;
		color: @white !important;
	}
	.product-name a {
		font-weight: 500;
		font-size: 16px;
		color: @black;
		text-transform: uppercase;
		text-decoration: none;
	}
	.product-name a:hover {
		color: @red;
	}
}

// Goods
.goods-single .added_to_cart {
	display: none !important;
}

// Messages
.woocommerce .woocommerce-message.woocommerce-message {
	background: @grey;
	color: @black;
	border-top-color: @green;
	border-radius: 3px;
}
.woocommerce .woocommerce-message.woocommerce-message:before {
	color: @green;
}
.woocommerce .woocommerce-message.woocommerce-message a {
	color: @red;
	text-decoration: none;
}