/*! normalize.css v3.0.1 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after, .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before, .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; }
 }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; }
 }

.mfp-ie7 .mfp-img {
  padding: 0; }
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }
.mfp-ie7 .mfp-container {
  padding: 0; }
.mfp-ie7 .mfp-content {
  padding-top: 44px; }
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.clearfix:after,
div:after,
header:after,
footer:after,
section:after,
article:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
address {
  font-style: normal;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure {
  margin: 0;
}
.to-left {
  float: left;
}
.to-right {
  float: right;
}
.container {
  position: relative;
  width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-align: center;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #000000;
  background: #ffffff;
  overflow-y: scroll;
}
.btn,
.btn.goods-single-buy.to-cart {
  display: block;
  padding: 11px 0;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  border: 1px solid #ee465a;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background: #ee465a;
  color: #ffffff;
}
.btn:hover,
.btn.goods-single-buy.to-cart:hover {
  background: transparent;
  color: #ee465a;
}
.btn-blue {
  border-color: #17c6f0;
  background: #17c6f0;
}
.btn-blue:hover {
  color: #17c6f0;
}
.grey-bg {
  background: #f6f6f6;
}
.content-wrapper {
  padding: 20px 0 45px;
}
.content {
  border-right: 3px;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
}
.content h1,
.content h2,
.content h3 {
  margin: 20px 0 25px;
}
.content h1 {
  font-size: 20px;
}
.content h2 {
  font-size: 16px;
}
.content .page-title {
  margin: 0 0 10px;
  padding: 0 0 10px;
  border-bottom: 1px solid #c3c3c3;
}
.content-page {
  padding: 25px;
  background: #ffffff;
}
.content-page p {
  margin: 20px 0;
}
.text-page ul {
  margin: 20px 0;
  padding: 0;
  list-style: none;
}
.text-page ul li {
  padding: 5px 0;
  font-size: 14px;
  color: #333333;
}
.text-page ul li:before {
  content: '●';
  color: #17c6f0;
  margin-right: 10px;
}
.text-page ul li:first-child {
  padding-top: 0;
}
.text-page ul li:last-child {
  padding-bottom: 0;
}
.content-page,
.sidebar-block {
  border: 1px solid #c3c3c3;
  border-top: 3px solid #17c6f0;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.sidebar .sidebar-block {
  margin-bottom: 15px;
  padding: 15px;
  float: none;
  background: #ffffff;
}
.sidebar .sidebar-block h4 {
  margin: 0 0 10px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  color: #4d4d4d;
}
.sidebar .sidebar-block:last-child {
  margin-bottom: 0;
}
input[type=text],
input[type=email],
input[type=submit],
textarea,
select {
  outline: none;
}
input[type=checkbox] {
  display: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  visibility: hidden;
  text-indent: 0.01px;
  text-overflow: '';
}
@-moz-document url-prefix() {
  input[type=checkbox] {
    margin-bottom: -13px;
  }
}
input[type=checkbox] + label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  cursor: pointer;
}
input[type=checkbox] + label:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -2px;
  width: 15px;
  height: 15px;
  background: #fff;
  border: 1px solid #c3c3c3;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
input[type=checkbox]:checked + label {
  color: #17c6f0;
}
input[type=checkbox]:checked + label:before {
  background: #17c6f0;
  border-color: #0eb7df;
}
select {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #c3c3c3;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  cursor: pointer;
  background: url('../../img/prod/icon-arrow-grey.png') no-repeat right 5px center;
}
input[type=reset] {
  width: 100%;
  text-align: center;
  background: transparent;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: underline;
  color: #0da3c7;
}
input[type=reset]:hover {
  text-decoration: none;
}
.pagination {
  margin: 15px 0 30px;
}
.pagination ul li {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}
.pagination ul li a,
.pagination ul li span {
  display: block;
  padding: 10px 18px;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  background: #ffffff;
  color: #000000;
  text-decoration: none;
  border: 1px solid #c3c3c3;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.pagination ul li a:hover,
.pagination ul li a.current {
  background: #c3c3c3;
}
.pagination ul li .current {
  background: #ee465a;
  border-color: #ee465a;
  color: #ffffff;
}
.pagination ul li:last-child {
  margin-right: 0;
}
.top-panel {
  padding: 20px 0 15px;
}
.top-panel-menu ul li {
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
}
.top-panel-menu ul li a {
  display: block;
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid #c3c3c3;
}
.top-panel-menu ul li a:hover {
  border-bottom: none;
}
.top-panel-menu ul li:last-child {
  margin-right: -4px;
}
header.gl {
  padding: 25px 0 10px;
}
header.gl .logo {
  display: block;
  width: 245px;
  height: 75px;
  background: url('../../img/prod/logo-bg.png') no-repeat top left;
}
.info-blocks {
  padding: 5px 0;
}
.info-blocks .header-info-block {
  padding: 2px 25px 5px;
  display: inline-block;
  vertical-align: top;
  border-right: 1px solid #c3c3c3;
}
.info-blocks .header-info-block a {
  text-decoration: none;
  color: #1a1a1a;
}
.info-blocks .header-info-block:last-child {
  border-right: none;
}
.info-blocks .info-block-title {
  margin: 0 0 5px;
  font-size: 14px;
  font-weight: lighter;
  line-height: 14px;
}
.info-blocks .info-block-text {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 20px;
}
.info-blocks .info-block-text img {
  margin-right: 5px;
}
.cart-wrapper {
  display: block;
  width: 200px;
  height: 60px;
  border: 1px solid #ee465a;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.cart-wrapper .cart-img {
  display: block;
  width: 70px;
  height: 100%;
  background: url('../../img/prod/icon-cart-white.png') no-repeat center center #ee465a;
}
.cart-wrapper .cart {
  width: 128px;
  height: 100%;
  padding: 12px 10px 10px;
  font-size: 14px;
}
.cart-wrapper .cart-name,
.cart-wrapper .cart-num {
  display: block;
}
.cart-wrapper .cart-name {
  font-size: 15px;
  font-weight: 500;
  color: #000000;
}
.cart-wrapper .cart-num {
  color: #909090;
}
.header-bottom-panel {
  padding: 15px 0 20px;
}
.bottom-panel-menu a {
  display: inline-block;
  vertical-align: top;
  padding: 0 15px 0 37px;
  height: 42px;
  line-height: 38px;
  font-size: 17px;
  font-weight: 500;
  color: #4d4d4d;
  text-decoration: none;
  border: 1px solid #dddddd;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
.bottom-panel-menu .catalog-link {
  background: url('../../img/prod/icon-catalog-red.png') no-repeat left 15px center;
}
.bottom-panel-menu .catalog-link:hover {
  background: url('../../img/prod/icon-catalog-red.png') no-repeat left 15px center #f6f6f6;
}
.bottom-panel-menu .designers-link {
  background: url('../../img/prod/icon-heart-red.png') no-repeat left 15px center;
}
.bottom-panel-menu .designers-link:hover {
  background: url('../../img/prod/icon-heart-red.png') no-repeat left 15px center #f6f6f6;
}
.search-panel {
  width: 920px;
  height: 42px;
  border: 1px solid #dddddd;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
.search-panel input {
  float: left;
  height: 40px;
  outline: none;
}
.search-panel input[type=text] {
  width: 870px;
  padding: 0 16px;
  line-height: 38px;
  font-size: 17px;
  color: #6a6a6a;
  border: none;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
.search-panel input[type=submit] {
  width: 46px;
  background: url('../../img/prod/icon-search-grey.png') no-repeat center center #ffffff;
  border: none;
  border-left: 1px solid #dddddd;
}
.distribute {
  padding: 25px 0;
}
.distribute h3 {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
.distribute .factories-list {
  margin-top: 20px;
  text-align: center;
}
.distribute .factories-list a img {
  margin-right: 22px;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  /* Firefox 3.5+ */
  filter: gray;
  -webkit-filter: grayscale(100%);
}
.distribute .factories-list a:hover img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
}
.distribute .factories-list a:last-child img {
  margin-right: 0;
}
.distribute-bottom {
  padding: 55px 0 0;
}
.top-index-block {
  padding: 15px 0;
}
.top-index-block .action-block {
  width: 925px;
  text-align: center;
}
.top-index-block .action-block .actions-list {
  height: 280px;
  margin-bottom: 15px;
}
.top-index-block .action-block .big-action {
  float: left;
  width: 570px;
  height: 280px;
}
.top-index-block .action-block .two-actions {
  float: left;
  width: 355px;
}
.top-index-block .action-block .small-action {
  display: block;
  height: 140px;
}
.top-index-block .action-block .big-action img,
.top-index-block .action-block .small-action img {
  width: 100%;
  height: 100%;
}
.top-index-block .actions-reload {
  padding-left: 30px;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  vertical-align: middle;
  background: url('../../img/prod/icon-reload-black.png') no-repeat left 10px center;
}
.catalog-menu {
  width: 255px;
  padding: 15px 20px;
  border: 1px solid #c3c3c3;
  border-top: 3px solid #17c6f0;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.catalog-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.catalog-menu ul li a {
  padding: 5px 0;
  display: block;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
  color: #000000;
}
.catalog-menu ul li ul li {
  background: url('../../img/prod/icon-cat-arrow-grey.png') no-repeat left 10px center;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.catalog-menu ul li ul li a {
  padding: 7px 10px 7px 25px;
  color: #777777;
}
.catalog-menu ul li ul li:hover,
.catalog-menu ul li ul li.current-item {
  background: url('../../img/prod/icon-cat-arrow-grey.png') no-repeat left 10px center #f6f6f6;
}
.catalog-menu > ul > li > a:hover {
  color: #ee465a;
}
.advantages-block {
  padding: 10px 0 15px;
}
.advantages-list {
  width: 100%;
  display: table;
  padding: 10px 0;
  border: 1px solid #c3c3c3;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.advantages-list .advantage-single {
  display: table-cell;
  vertical-align: middle;
  padding: 5px 20px;
  text-align: center;
  border-right: 1px solid #c3c3c3;
}
.advantages-list .advantage-single:last-child {
  border: none;
}
.advantages-list .img-wrapper,
.advantages-list .advantage-single-content {
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
}
.advantages-list .img-wrapper {
  width: 60px;
}
.advantages-list .advantage-single-content {
  padding-left: 5px;
  text-align: left;
}
.advantages-list .advantage-single-content b {
  font-size: 15px;
  font-weight: 700;
}
.advantages-list .advantage-single-content p {
  margin: 0;
  font-size: 14px;
  color: #505050;
}
.goods-block .goods-part-block {
  padding: 20px 0;
}
.goods-block .goods-part-block h2 {
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
}
.goods-block .goods-part-category {
  margin: 0 0 0 10px;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
  list-style: none;
}
.goods-block .goods-part-category li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 6px;
}
.goods-block .goods-part-category li a {
  display: block;
  font-size: 15px;
  text-decoration: none;
  color: #666666;
  border-bottom: 1px dotted #666666;
}
.goods-block .goods-part-category li a:hover {
  border-color: transparent;
}
.page-bottom-text {
  padding: 55px 0;
}
.page-bottom-text p {
  margin: 0;
  font-size: 14px;
}
footer.gl {
  padding: 25px 0;
  border-top: 3px solid rgba(10, 124, 151, 0.1);
}
footer.gl .footer-contacts,
footer.gl .footer-block {
  padding-top: 5px;
  padding-bottom: 5px;
  border-right: 1px solid #c3c3c3;
}
footer.gl .footer-block {
  padding-left: 40px;
  padding-right: 40px;
}
footer.gl .footer-block-title {
  display: block;
  margin: 0 0 15px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #4d4d4d;
}
footer.gl .footer-block:nth-last-of-type(2) {
  border-right: none;
  padding-right: 0;
}
footer.gl nav li {
  padding: 2px 0;
}
footer.gl nav li a {
  color: #17c6f0;
  text-decoration: none;
}
footer.gl nav li a:hover {
  color: #ee465a;
}
.category-tabs ul li {
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
}
.category-tabs ul li a {
  display: block;
  padding: 15px 20px;
  font-size: 17px;
  font-weight: 700;
  border-top: 3px solid transparent;
  color: #ee465a;
}
.category-tabs ul li a:hover {
  text-decoration: none;
}
.category-tabs ul li.current a {
  border-color: #17c6f0;
  background: #f6f6f6;
  color: #4d4d4d;
  text-decoration: none;
}
.category-tabs-menu {
  padding: 20px 0 0;
}
.category-tabs-menu ul {
  padding-left: 10px;
}
.category-tabs-menu ul li {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
}
.category-tabs-menu ul li a {
  color: #0da3c7;
  text-decoration: none;
  border-bottom: 1px dotted #17c6f0;
}
.category-tabs-menu ul li a:hover {
  border-bottom: none;
}
.category-tabs-menu ul li:last-child {
  margin-right: -4px;
}
.content-wrapper .page-bottom-text {
  padding-bottom: 0;
}
.sidebar .catalog-menu {
  width: 260px;
}
.sidebar .catalog-menu ul li a {
  padding: 3px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.sidebar .catalog-menu ul li a:hover {
  background: #f6f6f6;
  color: #000000;
}
.sidebar-block.sidebar-filter h4 {
  margin-bottom: 15px;
}
.sidebar-block.sidebar-filter h5 {
  margin: 0 0 10px;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
}
.sidebar-block.sidebar-filter .filter-block {
  padding: 15px 0;
  border-top: 1px solid #c3c3c3;
}
.sidebar-block.sidebar-filter input[type=submit] {
  margin-top: 5px;
  width: 100%;
}
.sidebar-block.sidebar-filter input[type=reset] {
  margin-top: 15px;
}
.filter-sizes input[type=checkbox] + label {
  display: inline-block;
  width: 70px;
  margin: 0 5px 8px 0;
  padding: 6px 8px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  vertical-align: top;
  border: 1px solid #c3c3c3;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.filter-sizes input[type=checkbox] + label:nth-of-type(3n) {
  margin-right: -4px;
}
.filter-sizes input[type=checkbox] + label:before {
  content: none;
  display: none;
}
.filter-sizes input[type=checkbox]:checked + label {
  background: #17c6f0;
  color: #ffffff;
  border-color: #17c6f0;
}
.catalog-page {
  border-bottom: none;
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
}
.filter-sort {
  padding: 10px 0;
  font-size: 14px;
  text-align: right;
  background: #f6f6f6;
}
.filter-sort ul {
  display: inline-block;
  margin: 0 0 0 10px;
  vertical-align: top;
}
.filter-sort ul li {
  display: inline-block;
  margin-right: 10px;
  padding: 0;
  font-size: 11px;
  vertical-align: top;
}
.filter-sort ul li a {
  color: #000000;
  text-decoration: none;
}
.filter-sort ul li a:hover {
  color: #0eb7df;
}
.filter-sort ul li:before {
  content: none;
}
.filter-sort ul li:last-child {
  margin-right: 0;
}
.filter-sort ul li.filter-sort-current a {
  color: #0eb7df;
}
.filter-sort ul li.filter-sort-up:after,
.filter-sort ul li.filter-sort-bottom:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  border-style: solid;
  vertical-align: 2px;
}
.filter-sort ul li.filter-sort-up:after {
  border-width: 4px 4px 0 4px;
  border-color: #0eb7df transparent transparent transparent;
}
.filter-sort ul li.filter-sort-bottom:after {
  border-width: 0 4.px 4px 4px;
  border-color: transparent transparent #0eb7df transparent;
}
.goods-list {
  margin-top: 20px;
  margin-bottom: -20px;
}
.goods-list .goods-single:nth-of-type(4n),
.goods-list .goods-single:last-of-type {
  margin-right: 0;
}
.goods-single {
  float: left;
  width: 285px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #c3c3c3;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.goods-single .goods-single-img {
  display: block;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.goods-single .goods-single-img img {
  height: 100%;
  width: auto;
  -webkit-border-top-left-radius: 3px;
          border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
          border-top-right-radius: 3px;
}
.goods-single .goods-single-content {
  padding: 25px 15px 35px;
  background: #ffffff;
  -webkit-border-bottom-left-radius: 3px;
          border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
          border-bottom-right-radius: 3px;
}
.goods-single .goods-single-marking,
.goods-single .goods-single-availability,
.goods-single .goods-single-cat-link {
  display: block;
}
.goods-single .goods-single-cat-link,
.goods-single .goods-single-cat-link a {
  font-size: 11px;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d4d4d;
}
.goods-single .goods-single-title {
  margin: 15px 0;
  text-align: left;
  font-size: 16px;
}
.goods-single .goods-single-title a {
  color: #000000;
  text-decoration: none;
}
.goods-single .goods-single-title a:hover {
  color: #ee465a;
}
.goods-single .goods-single-marking,
.goods-single .goods-single-availability {
  padding-left: 25px;
  font-size: 13px;
}
.goods-single .goods-single-marking {
  background: url('../../img/prod/icon-art-grey.png') no-repeat left center;
  color: #a6a6a6;
}
.goods-single .goods-single-availability {
  margin-top: 5px;
}
.goods-single .goods-single-availability.goods-single-exist {
  background: url('../../img/prod/icon-good-green.png') no-repeat left center;
  color: #1a9d10;
}
.goods-single .goods-single-availability.goods-single-not-exist {
  background: url('../../img/prod/icon-bad-red.png') no-repeat left center;
  color: #ee465a;
}
.goods-single .goods-single-bar {
  margin-top: 20px;
}
.goods-single .goods-single-price,
.goods-single .goods-single-buy {
  width: 120px;
}
.goods-single .goods-single-price {
  padding: 11px 0;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  border: 1px solid #aaaaaa;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.goods-more {
  height: 40px;
  margin: 5px 0 0;
  position: relative;
  text-align: center;
}
.goods-more .goods-more-line {
  position: absolute;
  height: 1px;
  width: 100%;
  top: 50%;
  margin-top: -0.5px;
  background: #d9d9d9;
}
.goods-more .btn-more-wrapper {
  position: relative;
  width: 245px;
  margin: 0 auto;
  background: #f6f6f6;
  z-index: 1;
}
.goods-more .btn {
  vertical-align: middle;
  width: 225px;
  margin: 0 auto;
}
.goods-list.catalog-goods-list {
  background: #ffffff;
  margin: 0;
  border: 1px solid #c3c3c3;
  border-top: none;
  -webkit-border-bottom-left-radius: 3px;
          border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
          border-bottom-right-radius: 3px;
}
.goods-list.catalog-goods-list .goods-single:nth-of-type(4n) {
  margin-right: 20px;
}
.goods-list.catalog-goods-list .goods-single:nth-of-type(3n),
.goods-list.catalog-goods-list .goods-single:last-of-type {
  margin-right: 0;
}
.goods-list.catalog-goods-list .goods-single {
  margin-right: 0 !important;
  padding: 25px;
  border: none;
  border-bottom: 1px solid #c3c3c3;
  -webkit-border-radius: 0;
          border-radius: 0;
  position: relative;
}
.goods-list.catalog-goods-list .goods-single .goods-single-content {
  padding: 25px 0 0;
}
.goods-list.catalog-goods-list .goods-single .catalog-goods-single-info {
  padding: 15px 0 0;
}
.goods-list.catalog-goods-list .goods-single .catalog-goods-single-char {
  display: block;
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid #c3c3c3;
}
.goods-list.catalog-goods-list .goods-single .catalog-goods-single-char dt,
.goods-list.catalog-goods-list .goods-single .catalog-goods-single-char dd {
  font-size: 12px;
  line-height: 1;
}
.goods-list.catalog-goods-list .goods-single .catalog-goods-single-char dt {
  width: 57%;
  float: left;
}
.goods-list.catalog-goods-list .goods-single .catalog-goods-single-char dd {
  width: 25%;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
}
.goods-list.catalog-goods-list .goods-single .catalog-goods-single-char:last-of-type {
  margin-bottom: 15px;
}
.goods-list.catalog-goods-list .goods-single .goods-single-availability,
.goods-list.catalog-goods-list .goods-single .goods-single-marking {
  margin-top: 10px;
}
.woocommerce-ordering {
  display: inline-block;
}
.woocommerce-ordering .orderby {
  min-width: 210px;
  width: auto;
  margin-left: 14px;
  font-size: 14px;
}
.widget_product_categories,
.widget_layered_nav,
.widget_layered_nav_filters {
  width: 255px;
  padding: 15px 20px;
  border: 1px solid #c3c3c3;
  border-top: 3px solid #17c6f0;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.widget_product_categories ul,
.widget_layered_nav ul,
.widget_layered_nav_filters ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.widget_product_categories ul li a,
.widget_layered_nav ul li a,
.widget_layered_nav_filters ul li a {
  padding: 5px 0;
  display: block;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
  color: #000000;
}
.widget_product_categories ul li ul li,
.widget_layered_nav ul li ul li,
.widget_layered_nav_filters ul li ul li {
  background: url('../../img/prod/icon-cat-arrow-grey.png') no-repeat left 10px center;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.widget_product_categories ul li ul li a,
.widget_layered_nav ul li ul li a,
.widget_layered_nav_filters ul li ul li a {
  padding: 7px 10px 7px 25px;
  color: #777777;
}
.widget_product_categories ul li ul li:hover,
.widget_layered_nav ul li ul li:hover,
.widget_layered_nav_filters ul li ul li:hover,
.widget_product_categories ul li ul li.current-item,
.widget_layered_nav ul li ul li.current-item,
.widget_layered_nav_filters ul li ul li.current-item {
  background: url('../../img/prod/icon-cat-arrow-grey.png') no-repeat left 10px center #f6f6f6;
}
.widget_product_categories > ul > li > a:hover,
.widget_layered_nav > ul > li > a:hover,
.widget_layered_nav_filters > ul > li > a:hover {
  color: #ee465a;
}
.widget_product_categories .count,
.widget_layered_nav .count,
.widget_layered_nav_filters .count {
  display: none;
}
.widget_layered_nav ul li a,
.widget_layered_nav_filters ul li a {
  font-size: 14px;
  font-weight: 400;
}
.widget_layered_nav ul li a:hover {
  color: #17c6f0;
}
.widget_layered_nav ul li a:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
  top: 3px;
  margin-right: 10px;
  border: 1px solid #0eb7df;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.widget_layered_nav ul li.chosen a {
  color: #17c6f0;
}
.widget_layered_nav ul li.chosen a:before {
  background: #17c6f0;
}
.widget_layered_nav_filters ul li a:before {
  content: "\00d7";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.woocommerce-breadcrumb,
.breadcrumbs {
  padding: 0 0 20px;
  font-size: 14px;
}
.woocommerce-breadcrumb a,
.breadcrumbs a {
  color: #ee465a;
  text-decoration: none;
}
.woocommerce-breadcrumb a:hover,
.breadcrumbs a:hover {
  color: #17c6f0;
}
.woocommerce table.shop_table.maxitile_shop_table {
  border: none;
}
.woocommerce table.shop_table.maxitile_shop_table a.remove {
  color: #ee465a !important;
}
.woocommerce table.shop_table.maxitile_shop_table a.remove:hover {
  background: #ee465a;
  color: #ffffff !important;
}
.woocommerce table.shop_table.maxitile_shop_table .product-name a {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
.woocommerce table.shop_table.maxitile_shop_table .product-name a:hover {
  color: #ee465a;
}
.goods-single .added_to_cart {
  display: none !important;
}
.woocommerce .woocommerce-message.woocommerce-message {
  background: #f6f6f6;
  color: #000000;
  border-top-color: #1a9d10;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.woocommerce .woocommerce-message.woocommerce-message:before {
  color: #1a9d10;
}
.woocommerce .woocommerce-message.woocommerce-message a {
  color: #ee465a;
  text-decoration: none;
}
/* Adaptive */
@media screen and (min-width: 1230px) {
  .container {
    width: 1230px;
  }
  footer.gl .footer-contacts {
    width: 315px;
    padding-right: 30px;
  }
  .content {
    width: 925px;
  }
  .sidebar {
    width: 260px;
  }
  .sidebar.rightbar {
    float: right;
  }
  .catalog-goods-list .goods-single {
    width: 33.333333333333%;
  }
}
